apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  valuesFrom:
    - kind: Secret
      name: kube-prometheus-stack-admin-pw
      valuesKey: password
      targetPath: grafana.adminPassword
