apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      containers:
      - image: sissbruecker/linkding:1.39.1
        name: linkding
        ports:
        - containerPort: 9090
        volumeMounts:
          mountPath: /etc/linkding/data
          name: linkding-data-pvc
      volumes:
      - name: linkding-data-pvc
        persistentVolumeClaim:
          claimName: linkding-data-pvc
